<div class="network-graph-panel" ng-style="{height: ctrl.height}">
    <div class="graph-container" ng-show="!ctrl.getError()">
        <div class="network-dependency-graph">
            <div class="canvas-container"></div>

            <div class="zoom-button-container">
                <button class="btn navbar-button" ng-click="ctrl.toggleAnimation()"><i
                        ng-class="{fa: true, 'fa-play-circle': !ctrl.panel.settings.animate, 'fa-pause-circle': ctrl.panel.settings.animate}"></i></button>
                <button class="btn navbar-button" ng-click="ctrl.runLayout()"><i class="fa fa-sitemap"></i></button>
                <button class="btn navbar-button" ng-click="ctrl.fit()"><i class="fa fa-dot-circle-o"></i></button>
                <button class="btn navbar-button" ng-click="ctrl.zoom(+1)"><i class="fa fa-plus"></i></button>
                <button class="btn navbar-button" ng-click="ctrl.zoom(-1)"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div ng-class="{statistics: true, 'show': ctrl.showStatistics}">

            <div class="header--selection">{{ctrl.selectionId}}
                <a target="_blank" ng-href="{{ctrl.resolvedDrillDownLink}}"
                    ng-show="ctrl.resolvedDrillDownLink && ctrl.resolvedDrillDownLink.length > 0 && ctrl.currentType === 'INTERNAL'">
                    <i class="fa fa-paper-plane-o"></i>
                </a>
            </div>
            
            <div class="secondHeader--selection">Statistics</div>
            <table class="table--selection">
                <tr class="table--selection--head">
                    <th>Name</th>
                    <th class="table--th--selectionMedium">Value</th>
                </tr>
                <tr>
                    <td class="table--td--selection">Total BPS (in+out all intf.)</td>
                    <td class="table--td--selection">{{ctrl.selectionStatistics.bps}}</td>
                </tr>
                <tr>
                    <td class="table--td--selection">Total EPS (all intf.)</td>
                    <td class="table--td--selection">{{ctrl.selectionStatistics.eps}}</td>
                </tr>
                <tr>
                    <td class="table--td--selection">Total PPS (all intf.)</td>
                    <td class="table--td--selection">{{ctrl.selectionStatistics.pps}}</td>
                </tr>
            </table>

            <div class="secondHeader--selection">Interface Statistics</div>
                 <div class="no-data--selection" ng-show="ctrl.interfaces.length == 0">No incoming statistics available.</div>
                 <table class="table--selection" ng-show="ctrl.interfaces.length > 0">
                 <tr class="table--selection--head">
                 <th>Intf.</th>
                 <th class="table--th--selectionSmall">PPS</th>
                 <th class="table--th--selectionSmall">BPS</th>
                 <th class="table--th--selectionSmall">EPS</th>
                 <th>Remote host</th>
                 <th>Remote intf</th>
                 </tr>
                 <tr ng-repeat="intf in ctrl.interfaces">
                     <td class="table--td--selection" title="{{intf.if_name}}">
                         <a target="_blank" ng-href="{{intf.if_link}}" ng-show="intf.if_link && intf.if_link.length > 0">
                             {{intf.if_name}}
                         </a>
                         <div ng-show="!intf.if_link || intf.if_link.length == 0">
                             {{intf.if_name}}
                         </div>
                     </td>
                 <td class="table--td--selection">{{intf.pps}}</td>
                 <td class="table--td--selection">{{intf.bps}}</td>
                 <td class="table--td--selection">{{intf.eps}}</td>
                 <td class="table--td--selection">{{intf.remote_host}}</td>
                 <td class="table--td--selection">{{intf.remote_intf}}</td>
                 </tr>
                 </table>
        </div>
    </div>
    <div ng-show="ctrl.getError()">{{ctrl.getError()}}</div>

</div>
